@charset "UTM-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');


body, html{
    text-align: center;
}
img{
    width: 400px;
    border-radius: 10px;
    margin: 20px;
}
input{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    /* border: none; */
}
input:hover{
    background-color: #80808031;
    image-resolution: 50%;
}

.state_value{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    color:#fff;
    cursor: pointer;
}

.counter{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
button{
    position: absolute;
    margin-top:80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}
.counter_count{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.counter_minus{
    margin-left: -100px;
}
.counter_plus{
    margin-left: 100px;
}
.btn_coisa{
    position: relative;
    width: 150px;
    border-radius: 30px;
    padding: 15px;
    background-color: aquamarine;
}

/*PRESONAL CARD*/

.card_page{
    border: 1px solid #8080805e;
    width: 250px;
    height: 400px;
    border-radius: 15px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.37);


}
.card_picture{
    background-color: gray;
    border: 2px solid rgb(118, 244, 8);
    margin: 20px 0;
    width: 200px;
    height: 200px;
    border-radius: 100%;

    display: flex;
    justify-content: center;

    overflow: hidden;
    
}
.picture_img{
    margin-top: -30px;
    width: 240px;
    height: 240px;
}
.card_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160px;
    align-items: baseline;
    justify-content: baseline;
    padding-left: 20px;
}
.content_star{
    margin: 0;
    font-size: 2em;
    cursor: pointer;
}
.content_name{
    font-size: 1.4em;
    margin: 4px;
    font-family: 'Poppins';
}
.content_phone, .content_email{
    margin: 4px;
    font-size: .9em;
    color: gray;
    height: 15px;
    padding: 2px 0;
}

/*BOX liga e desliga*/

.botao{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.336);
}



