@charset "UTM-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 95vw;
    height: 95vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.page{
    width: 60vw;
}

header{
    height: 75px;
    background-image: linear-gradient(to right, #541b6e, #9e21cd);
    padding: 0px 20px;
    color: #fff;

    display: flex;
    align-items: center;
}
.hdr_img{
    width: 50px;
    margin-left: 20px;
}
.hdr_part2{
    width: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}
.hdr_title{
    font-weight: bold;
    font-size: 32px;
}

.main_content{
    margin: 40px;
    text-align: center;
}
.form_texts{
    display: flex;
    justify-content: space-between;
}
.form_text{
    height: 50px;
    width: 25vw;
    font-size: 20px;
}
.form_button{
    background-image: linear-gradient(to right, #541b6e, #9e21cd);
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 40px 0;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.main_img{
    width: 100%;
    height: 480px;
}